@font-face {
    font-family: decterm;
    src: url(/public/fonts/Decterm.ttf);
}

@font-face{

    font-family: home;
    src: url(/public/fonts/Maze.ttf);

}

@font-face{

    font-family: spit;
    src: url(/public/fonts/Spit.ttf);

}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

:root {

    --black-main-menu: #000000;
    --white-main-menu: #fff;

}

.full-size {

    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--black-main-menu);

}

/* main-menu */

.box-main-text {

    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    color: var(--white-main-menu);

}

.title {

    text-align: center;
    font-size: 15rem;
    font-family: home;

}

.sub-title {

    text-align: center;
    font-family: home;
    font-size: 4.5rem;

}


.group-options {

    position: relative;
    border: 1px solid var(--white-main-menu);
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    width: 25%;
}

.btn-option {

    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--white-main-menu);
    border: 1px solid var(--white-main-menu);
    background-color: var(--black-main-menu);
    padding: 7.5px;
    margin: 1vw;
    z-index: 5;

}

.btn-option:hover {

    scale: 1.05;

}

/* skill-select */

#skill-select {

    display: none;

}

.player-title {

    color: var(--white-main-menu);
    text-align: center;
    margin-top: 5%;
    font-size: 3.5rem;
    font-family: decterm;

}

.grid-card {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    width: 80%;
    margin:auto;
    margin-top: 5%;

}

.card {

    border: 1px solid var(--white-main-menu);
    color: var(--white-main-menu);
    padding: 20px;
    width: 15vw;
    z-index: 5;

}

.card:hover {

    scale: 1.1;
    cursor: pointer;

}

.card-image {

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    image-rendering: pixelated;

}

.title-card {

    text-align: center;
    font-size: 1.5rem;
    font-family: decterm;

}

.desc-card {

    margin-top: 0.5rem;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;

}